doctype html
html
  head
    title Crear publicacion
    link(rel='stylesheet' href='/css/crearpublicacion.css')
  body
    h1 Nueva publicacion

    form(action='/feed/crear' method='POST' enctype='multipart/form-data')
      input(
        type='text'
        name='titulo'
        placeholder='Titulo'
      )

      textarea(
        name='descripcion'
        placeholder='Descripcion'
      )

      label Etiquetas 
      input(
        type='text'
        name='etiquetas'
        placeholder='paisaje,naturaleza,atardecer'
      )

      input(
        type='file'
        name='imagenes'
        multiple
      )

      label Licencia
      select(name='licencia')
        option(value='copyright') Con copyright
        option(value='sin-copyright') Sin copyright

      label.aplicar-marca
        input(
          type='checkbox'
          name='marcaAgua'
        )
        | Aplicar marca de agua

      input(
        type='text'
        name='textoMarcaAgua'
        placeholder='Texto de marca de agua'
      )

      
      button(type='submit') Publicar
