doctype html
html
  head
    title Feed

  body
    h1 Feed

    form(action='/feed' method='GET')
      input(
      type='text'
      name='q'
      placeholder='Buscar publicaciones'
      value=busqueda
    ) 

      button(type='submit') Buscar
    if usuario
      a(href='/feed/crear') Crear publicacion

      br

      a(href='/feed/siguiendo')
       | Publicaciones de usuarios que sigo

      br

      a(href='/auth/logout') Logout

      br

      if usuario.rol === 'admin'
        a(href='/admin') 🛠️ Panel de administracion


    h3 Mis estadisticas 

      p Siguiendo: #{cantidadSiguiendo}

      p Seguidores: #{cantidadSeguidores}

    h3 Seguir usuarios 

    each u in usuarios 
      if usuario && usuario.id !== u.id 

       p= u.nombre 
      
      if siguiendo.includes(u.id)
       p ✅ Siguiendo 
       form(
          action='/seguimientos/dejar-seguir/' + u.id 
          method='POST'
        )
          button(type='submit') Dejar de seguir
      else
        form(
          action='/seguimientos/seguir/' + u.id 
          method='POST'
        )
          button(type='submit') Seguir

    each publicacion in publicaciones
      hr


      h2= publicacion.titulo

      p
        b Publicado por:
        a(href='/usuarios/' + publicacion.Usuario.id)
          | #{publicacion.Usuario.nombre}

      p
        b Fecha:
        | #{new Date(publicacion.createdAt).toLocaleString('es-AR')}

      p= publicacion.descripcion

      img(
        src='/uploads/' + publicacion.imagen
        width='300'
      )

      p 

        b Promedio: 
        | #{publicacion.promedio} ⭐

      p 
        b Votos: 
        | #{publicacion.cantidadVotos}
      

      if usuario && usuario.id === publicacion.usuarioId

        a(href='/feed/editar/' + publicacion.id)
          button(type='button') Editar 
        form(
          action='/feed/eliminar/' + publicacion.id
          method='POST'
        )
          button(type='submit') Eliminar

      if usuario 
        form(
          action='/comentarios/crear/' + publicacion.id 
          method='POST'
        )

          input(
            type="text"
            name='texto'
            placeholder='EScribe un comentario'
            required
              )
          button(type='submit') Comentar

      if publicacion.comentarios && publicacion.comentarios.length > 0

    
    

        h4 Comentarios 

        each comentario in publicacion.comentarios 
         
          p 
           
           b #{comentario.Usuario.nombre}:
           |  #{comentario.texto} 

      if usuario 

        form(
          action='/valoraciones/crear/' + publicacion.id 
          method='POST'
        )

          select(name='puntaje')
            option(value='1') 1
            option(value='2') 2
            option(value='3') 3
            option(value='4') 4
            option(value='5') 5

          button(type='submit') Valorar