doctype html
html
  head
    title Feed

  body
    h1 Feed

    form(action='/feed' method='GET')
      input(
      type='text'
      name='q'
      placeholder='Buscar publicaciones'
      value=busqueda
    ) 

      button(type='submit') Buscar
    if usuario
      a(href='/feed/crear') Crear publicacion
      br
      a(href='/auth/logout') Logout

    each publicacion in publicaciones
      hr

      h2= publicacion.titulo

      p
        b Publicado por:
        | #{publicacion.Usuario.nombre}

      p
        b Fecha:
        | #{new Date(publicacion.createdAt).toLocaleString('es-AR')}

      p= publicacion.descripcion

      img(
        src='/uploads/' + publicacion.imagen
        width='300'
      )
      

      if usuario && usuario.id === publicacion.usuarioId
        form(
          action='/feed/eliminar/' + publicacion.id
          method='POST'
        )
          button(type='submit') Eliminar

      if usuario 
        form(
          action='/comentarios/crear/' + publicacion.id 
          method='POST'
        )

          input(
            type="text"
            name='texto'
            placeholder='EScribe un comentario'
            required
              )
          button(type='submit') Comentar

      if publicacion.comentarios && publicacion.comentarios.length > 0

        h4 Comentarios 

        each comentario in publicacion.comentarios 
         
          p 
           
           b #{comentario.Usuario.nombre}:
           |  #{comentario.texto} 