doctype html
html
head
title Mi Perfil
link(rel='stylesheet' href='/css/miperfil.css')

body
.contenedor


  .perfil-header
    h1= usuario.nombre

    .estadisticas
      .stat
        h3= cantidadSeguidores
        p Seguidores

      .stat
        h3= cantidadSiguiendo
        p Siguiendo

      .stat
        h3= favoritos.length
        p Favoritos

  .acciones-perfil
    a(href='/favoritos') ⭐ Ver favoritos
    a(href='/colecciones') 📁 Ver colecciones
    a(href='/feed') 🏠 Volver al feed
    a(href='/notificaciones') 🔔 Notificaciones
  

  h2 Mis Publicaciones

  if publicaciones.length > 0
    each publicacion in publicaciones
      .card-publicacion
        h3= publicacion.titulo
        p= publicacion.descripcion

        if publicacion.listaImagenes
          each imagen in publicacion.listaImagenes
            img.foto-publicacion(
             src='/uploads/' + imagen
             onclick=`abrirImagen('/uploads/${imagen}')`
            )

  else
    p No has publicado nada todavía.

  #modalImagen.modal-imagen(onclick='cerrarImagen()')
    img#imagenGrande

  script.
    function abrirImagen(src){
      document.getElementById('imagenGrande').src = src;
      document.getElementById('modalImagen').style.display = 'flex';
    }

    function cerrarImagen(){
      document.getElementById('modalImagen').style.display = 'none';
    }
  

