doctype html
html
  head
    title Login

  body
    h1 Login

    form(action='/auth/login' method='POST')
      input(
        type='email'
        name='email'
        placeholder='Email'
      )

      br

      input(
        type='password'
        name='password'
        placeholder='Contraseña'
      )

      br

      button(type='submit') Ingresar